{{define "footer"}}
<footer class="nav footer" role='contentinfo'>
  <div class="categories"><a href="https://www.sfwar.org/about.html">About</a></div>
  <div class="categories"><a href="https://www.sfwar.org/programs.html">Activities</a></div>
  <div class="categories"><a href="https://www.sfwar.org/involved.html">Get Involved</a></div>
  <div class="categories"><a href="https://www.givedirect.org/donate/?cid=11469">Donate</a></div>
</footer>
{{end}}
