{{define "head"}}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SFWAR Resource Guide</title>
  <script type="text/javascript" src="/static/js/helpers.js"></script>
  <!--[if lt IE 9]><script type="text/javascript" src="/js/ie8-html5.js"></script><![endif]-->
  <script type="text/javascript" src="/static/js/main.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" media="only screen and (max-device-width: 480px)" >
  <link href="/static/css/style.css" rel="stylesheet">
</head>
{{end}}
