{{define "header"}}
<header class="header" role='banner'>
  <div class="header-section logo">
    <a href="/index.html" >
      <h1>SFWAR Resource Guide</h1>
    </a>
  </div>
  <div class="header-section">
    <div class="header-links">
      <ul role="menubar" aria-controls="st1" title='User Menu'>
        <li>
          <a class="escape" href="https://weather.com/" accesskey="e">
            <span> ESCAPE </span>
            <span>Leave this Site</span>
          </a>
        </li>
        <li>
          <a class="hotline" href="tel:415-647-7273">
            <span>415-647-7273</span>
            <span> Get Help Now </span>
          </a>
        </li>
        {{if .DecodedCookie.IsAuthed}}
        {{with .DecodedCookie}}
        <li class="user-menu" role='menuitem' aria-haspopup='true' tabindex='0'><a>{{.DisplayName}}</a>
          <ul class="user-menu-dropdown" role='menu' aria-haspopup='true'>
            <a tabindex='-1' onkeydown="clearSessionCookie(event)" onclick="clearSessionCookie(event)"><li class='user-menu-item' onkeydown="userNav(event, this)" role='menuitem' aria-controls="st1" tabindex='-1'>Sign out</li></a>
            <a tabindex='-1' href="/usermgt/changepasswd.html"><li class='user-menu-item' role='menuitem' aria-controls="st1" tabindex='-1'>Change Password</li></a>
            {{if .HasCapabilityViewUsers}}
            <a tabindex='-1' href="/usermgt/listusers.html"><li class='user-menu-item' role='menuitem' aria-controls="st1" tabindex='-1'>Edit users</li></a>
            {{end}} {{/* if .HasCapabilityViewUsers  */}}
            {{end}} {{/* with .DecodedCookie */}}
          </ul>
        </li>
        {{else}}
        <li tabindex='-1'><a tabindex='0' href="/login.html"><h2>Sign in</h2></a></li>
        {{end}}
      </ul>
    </div>
  </div>
</header>
{{end}}
