<html>
  {{template "head"}}
  <body>
    <div class='container'>
      {{template "header" . }}
      {{template "searchbar" . }}
      <section class="results">
        <h2>Find Local Support</h2>
        <p>SFWAR's referral guide has over 350 resources for survivors, significant others and service providers. Covering areas such as Child Sexual Abuse, Counseling, Body Work, and Employment, this guide has been invaluable to us. We hope that you will find it helpful as well. If you come across any resources that need to be updated, please email Teresa Martyny at teresamartyny@sfwar.org.</p>
        <h2>24-hour Rape Crisis Line</h2>
        <p>Rape crisis counselors are available 24 hours/day to offer support, information and resources for survivors of rape and sexual assault, friends, family members and others. Counselors are also trained in areas such as sexual harassment, incest, child sexual assault, same-sex sexual assault, domestic violence, ritual abuse, suicide prevention, male survivors and stalking. SFWAR's crisis hotline is (415) 647-RAPE.</p>
      </section>
      {{template "footer"}}
    </div>

    {{range .Data}}
      {{.Name}}
    {{end}}
  </body>
</html>
