<html>
  {{template "head"}}
  <body>
    <div class='container'>
      {{template "header" .}}
      {{template "searchbar" .}}
      <ul class='results' role='main'>
        <h2>Results for: {{.Query}}</h2>
        {{range .Resources}}
        <li>
          <ul class='result'>
            <li><a href="/resources/{{.Uuid}}.html">{{.Name}}</a></li>
            <li>Categories:  {{.Categories}}</li>
            <li>Services: {{.Services}}</li>
            <li>Description: {{.Description}}</a></li>
          </ul>
        </li>
        {{end}}
      </ul>
      {{template "footer"}}
    </div>
  </body>
</html>
