<html>
  {{template "head"}}
  <body>
    <div class='container'>
      {{template "header" .}}
      {{template "searchbar" .}}
      <ul class='results' role='main' id='resources-result'>
        <h2>Results for: {{.Query}}</h2>
      </ul>
      {{template "footer"}}
    </div>
    <script>
      ready(fetchSearchResultsFromUrl);
    </script>
  </body>
</html>
